@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Client app for lab 5</h1>
    <img style="max-width: 100%;" src="~/img/dbDiagram.PNG" class="fluid" alt="">
</div>
