@model (string, string)

<div class="text-center">
    <p style="font-size: 36px;" class="display-4">
        <span style="color: skyblue">SELECT</span>
        name, age, status<br />
        <span style="color: skyblue">FROM</span>
        photographer
    </p>
    <h1 style="margin-top: 40px;" class="display-4">Default time: @(Model.Item1)</h1>
    <h1 class="display-4">Index time: @(Model.Item2)</h1>
</div>