@using SYBD.ViewModels

@model TestPhotographersViewModel

<h1>@(Model.RequestText)</h1>
<h1> Redis @(Model.TimeRedis)</h1>
<h1>mongo @(Model.TimeMongoDb)</h1>
<h1>postgres @(Model.TimePostgreSQL)</h1>